@import '../abstract/variables';

#coupon {
    background-color: $cor-terciaria;
    padding: 4rem;
    text-align: center;
    .text {
        color: $cor-primaria;
    }
    h2 {
        margin: 2rem;
        font-size: $tamanho-do-texto / 1.5;
    }
    .input {
        margin: 0 auto;
        width: 575px;
        border-radius: 20px;
        border: 4px solid #fff;
        background: #fff;
        input {
            border-radius: 20px;
            height: 40px;
            border: none;
            width: 540px;
            outline: none;
            font-size: 22px;
        }
        &:hover, &:focus-within {
            box-shadow: 1px 1px 8px 1px $cor-secundaria;
        }
    }
    button {
        text-transform: uppercase;
        margin-top: .75rem;
        outline: none;
        height: 40px;
        text-align: center;
        width: 130px;
        background-color: $cor-secundaria;
        opacity: .7;
        color: $cor-primaria bold;
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: bold;
        border: 2px $cor-secundaria;
        border-radius: 40px;
        &:hover {
            color: $cor-terciaria;
            background-color: $cor-primaria;
            border-color: $cor-primaria;
        }
    }
}