@import '../abstract/variables';

#services {
    margin: 80px;
    h3 {
        font-size: $tamanho-do-texto / 2;
        color: $cor-primaria;
        font-weight: 350;
        text-transform: uppercase;
        text-align: center;
        margin: 1rem;
    }
    h4 {
        text-align: center;
        font-size: $tamanho-do-texto / 1.2;
        margin-bottom: 80px;
        width: 300;
    }
}

.cards {
    display: flex;
    justify-content: space-evenly;
    .card {
        width: 360px;
        text-align: center;
        h5 {
            font-size: $tamanho-do-texto / 1.5;
            font-weight: 300;
            margin-top: 25px;
            margin-bottom: 20px;
            color: $cor-primaria;
        }
        p {
            font-size: $tamanho-do-texto / 3;
            font-weight: 400;
            color: $cor-primaria;
            line-height: 1.25rem;
        }
        .img-container {
            padding-bottom: 2px;
            border-bottom: 4px solid $cor-secundaria;
            img {
                max-width: 100%;
            }
        }
    }
}